<ion-content class="ion-padding">
  <app-my-header [name]="'Чорномаз Уляна'"></app-my-header>

  <h2>Завдання 1</h2>
  <p>Задано три числа. Якщо всі вони більші за 5, то знайти їх суму. В іншому випадку – добуток їхніх цифр, якщо його сума непарна.</p>

  <ion-item>
    <ion-label position="floating">Число 1</ion-label>
    <ion-input type="number" [(ngModel)]="num1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Число 2</ion-label>
    <ion-input type="number" [(ngModel)]="num2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Число 3</ion-label>
    <ion-input type="number" [(ngModel)]="num3"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="calculate()">Обчислити</ion-button>

  <ion-card *ngIf="result">
    <ion-card-header>
      <ion-card-title>Результат</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ result }}</ion-card-content>
  </ion-card>
</ion-content>
